# Monday.com GraphQL API Config
MONDAY_API_TOKEN= eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjY4NjY2MDkyOCwiYWFpIjoxMSwidWlkIjoxMTE1MTUwNjgsImlhZCI6IjIwMjYtMDctMjdUMDY6MTU6MzMuMDAwWiIsInBlciI6Im1lOndyaXRlIiwiYWN0aWQiOjM2MjI1MDg4LCJyZ24iOiJhcHNlMiJ9.VeSA5paONR2f1YaYwbxJ-4oZYrgLfm9BKIVmxJ1kyhQ
DEAL_FUNNEL_BOARD_ID=5030221175
WORK_ORDER_BOARD_ID=5030221237

# Anthropic Claude API Config
ANTHROPIC_API_KEY=your_anthropic_api_key_here
